*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color:#fff;
    text-decoration: none;
}

/*utility*/
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.orange-text {
    color:coral;
}


.btn{
    color: white;
    display: inline-block;
    padding: 13px 20px;
    border:none;
    font-size: 18px;
    cursor: pointer;
    background: #333;
    margin:auto;

}

/* navbar */
#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}
 #navbar h1 {
    float: left;
    padding: 20px;
 }

.logo a {
    font-size: x-large;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar li a{
    text-decoration: none;
    display: block;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}


#navbar ul li a:hover, .current {
    color: coral;
    background: #444;
}

/*showcase*/
.showcase-content{
    background: url('/img/showcase.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    color:#fff;
    text-align: center;
}

.showcase-content h1 {
    margin: 140px  0 40px 0;
    font-size: 60px;
}

.showcase-content p{
    text-align: center;
    padding-bottom: 20px;   
}

/* home info*/
.home-info-content {
    background: #333;
    color:white;
    text-align: center;
    overflow: auto;
    height: 400px;
} 
.home-info-content img{
    width: 50%;
    background-attachment: center;
    background-repeat: no-repeat;
    float:left;
    min-height: 100%;
}

.home-info-text{
    float: right;
    width:50%;
    padding: 50px 30px;
}

.home-info-text p{
    padding-bottom: 30px;
}

/*features*/
.box{
    width: 33.3%;
    padding: 50px;
    text-align: center;
    float: left;
}

footer{
    background: #333;
    text-align: center;
    color: #fff;
    padding: 20px 0; 
}

/*about main section*/

.about-main-content{
    text-align: left;
    overflow: auto;
}

.about-text {
    float: left;
    line-height: 1.8em;
    width: 60%;
}

.about-text h1 {
    padding: 20px 0;
    font-size: 24px;
}
.about-text p {
    margin-bottom: 10px;
}
.about-img {
    float:left;
    width:40%;
    padding: 40px 20px;
}

.about-img img{
    width: 100%;
    border-radius: 50%;
}

/*testimonials*/

.testimonial-content{
    background: url('/img/test-bg.jpg');
    background-repeat: no-repeat;
    background-attachment:cover;
    background-position: center;
    height:600px;
}

.testimonial-content h2 {
    text-align: center;
    font-size: xx-large;
    color: white;
    padding: 90px 0 30px 0;
}

.testimonial{
    width: 90%;
    margin:auto;
    background-color: coral;
    overflow: auto;
    margin-bottom: 20px;
    opacity: 80%;
    border-radius: 5px;
}

.tesimonial-img {
    width: 15%;
    float: left;
    padding:10px;
    margin-right: 10px;
}

.tesimonial-img img {
    width: 100px;
    border-radius: 50%;
}

.testimonial-text{
    padding: 20px;
}
